# Titanic dataset

In [152]:
from numpy import *
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [153]:
data=pd.read_csv(r'C:\Users\Brij\Desktop\Python for data science\Titanic_dataset.csv',index_col=0)

In [154]:
data1=data.copy()

In [155]:
data1.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [156]:
data1=data1.dropna()

In [157]:
data1=data1[['Pclass','Sex','Age','SibSp','Parch','Fare','Survived']]

In [158]:
data1['Sex']=data1['Sex'].map({'male':0,'female':1})

In [159]:
data1['Sex']

PassengerId
2      1
4      1
7      0
11     1
12     1
      ..
872    1
873    0
880    1
888    1
890    0
Name: Sex, Length: 183, dtype: int64

In [160]:
data1.head()

             Pclass  Sex   Age  SibSp  Parch     Fare  Survived
PassengerId
2                 1    1  38.0      1      0  71.2833         1
4                 1    1  35.0      1      0  53.1000         1
7                 1    0  54.0      0      0  51.8625         0
11                3    1   4.0      1      1  16.7000         1
12                1    1  58.0      0      0  26.5500         1

In [161]:
X=data1.drop('Survived',axis=1)
y=data1['Survived']

In [179]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=1)

In [202]:
model=DecisionTreeClassifier(criterion='gini')

In [203]:
model

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [204]:
model.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [205]:
y_pred=model.predict(X_test)

In [206]:
accuracy_score(y_test,y_pred)*100

78.37837837837837

In [1]:
from sklearn.tree import export_graphviz
from sklearn.externals.six import StringIO
from IPython.display import Image
import pydotplus
dot_data=StringIO()
export_graphviz(model,out_file=dot_data,filled=True,rounded=True,specil_character=True,feature_names=feature_cols,class_names=['0','1'])
graph=pydotplus.graph_from_dot_data(dot_data.getvalue())
graph.write_png('Titanic.png')
Image(graph.create_png())

C:\Users\Brij\Anaconda3\lib\site-packages\sklearn\externals\six.py:31: DeprecationWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", DeprecationWarning)

ModuleNotFoundError: No module named 'pydot'